# Opening Inventory Verification

<img src="" height="312px" width="100%">
