# Inventory Adjustment Verification

<img src="" height="312px" width="100%">
